html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: "Trebuchet MS";
}
#container 
{
   min-height:100%;
   position:relative;
   background-color: #002E45;
   margin: 0;
   padding: 0;
   word-wrap: break-word;
}
#header 
{
   background-color:#FFF8EE;
   padding:2px;
   height: 60px;
   padding-left: 8px;
}

#main 
{
   padding:5% 0;
   background-color:002E45;
}

#chat_window
{
	position: absolute;
	top: 10%;
	left: 2%;
	width: 74%;
	height: 80%;
	text-align: center;
	background-color: #FFF8EE;
	padding: 2px;
	overflow: auto;
}

#people_window
{
	position: absolute;
	top: 10%;
	left: 78%;
	width: 20%;
	height: 80%;
	text-align: center;
	background-color: #FFF8EE;
	padding: 2px;
	overflow: auto;
}

#wMessage
{
	width: 60%;
}

#footer 
{
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background-color:#FFF8EE;
}

#language_selector
{
	position: relative;
}

#language_selector:hover
{
	background-color: #BBB;
	position: relative;
	display: block;
}

.public_line
{
	color: #000044;
}

ul 
{
    list-style-type: none;
    text-align: left; 
}

.formatting_button, .button{
	display:inline-block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:1px 1px 1px 1px;
	width:5%;
	height:5%;
	background-color:#ddd;
	color:#333;
	text-align:center;
	text-decoration:none;
	font-weight:900;
	overflow:hidden;
}
.formatting_button:hover, .button:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:1px 1px 1px 1px;
	background-color:#FFF;
}

#up_button
{
	background-color:#0E4;
}

#up_button:hover
{
	background-color:#00FA22;
}

#down_button
{
	background-color:#E20;
}

#down_button:hover
{
	background-color:red;
}
